@media (max-width: 1200px) {
    .section_top_padd {
        padding-top: 26px !important;
        padding-bottom: 26px !important;
    }
}
@media (max-width: 991px) {
    .rating_cards {
        flex-direction: column !important;
    }
    .rating_cards .rating_card_wrapper {
        width: 50% !important;
        margin: auto;
    }
    .rating_card {
        width: 100% !important;
        margin: auto;
    }
    .rating_card *:not(.rating_card i) {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .rating_cards .rating_card_wrapper {
        width: 100% !important;
        margin: auto;
    }
    .rating_card {
        width: 90% !important;
    }
    .rating_card *:not(.rating_card i) {
        row-gap: 10px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .rating_card {
        width: 96% !important;
    }
    .rating_card *:not(.rating_card i) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .rating {
        padding-left: 26px !important;
        padding-right: 26px !important;
    }
    .rating_cards .rating_card_wrapper {
        padding: 0px 6px;
        width: 100% !important;
    margin: auto;
    }
    .rating_card {
        padding: 32px 12px;
        width: 100% !important;
    }
}