@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-family: 'Raleway', sans-serif !important;
    /* font-family: 'Montserrat', sans-serif; */
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(33, 37, 41) !important;
}
.no_transition {
    scroll-behavior: auto !important;
}

.card_dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.font_weight_500 {
    font-weight: 500;
}

.font_weight_600 {
    font-weight: 600;
}

.font_weight_700 {
    font-weight: 700;
}

.font_weight_400 {
    font-weight: 400;
}
.primary_color {
    color: #f75e73 !important;
}
.section_heading {
    display: inline-block;
}

.rating .section_heading h2 {
    color: white !important;
}
.section_heading h2 {
    font-weight: 600 !important;
}
.mainContainer:not(header, .short_dashboard) {
    margin: auto;
    max-width: 1400px !important;
}
.rating {
    background-color: #212529 !important;
}

.rating .section_heading h2 {
    color: white !important;
}

.rating_cards {
    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scrollbar-width: none;
}

.rating_cards .rating_card_wrapper {
    margin: auto;
    width: calc(100% / 3);
    display: inline-block;
    padding: 0px 10px;
    scroll-snap-align: start;
    transition-duration: 0.5s;
}

.rating_card {
    margin-top: 32px !important;
    background-color: white !important;
    width: 100%;
    margin: auto;
    padding: 32px 32px;
    border-radius: 10px;
}

.rating_user_img img {
    width: 100% !important;
    border-radius: 50%;
}

.rating_user_img {
    width: 80px;
    margin-right: 14px !important;
}

.rating_txt_user {
    padding: 0px 12px;
    text-wrap: balance;
}

.rating_card *:not(.rating_card i) {
    font-family: 'Montserrat', sans-serif !important;
}

.rating_card .rating_user_post {
    opacity: 0.8;
    font-weight: 600 !important;
}

.rating_user_data {
    margin-bottom: 18px !important;
}

.rating_stars i {
    color: #ffc107;
    font-size: 14px !important;
}

.rating_txt_user .fa-quote-left {
    margin-right: 10px;
    font-size: 16px !important;
    color: #f75e73 !important;
}

.rating_txt_user .fa-quote-right {
    margin-left: 10px;
    font-size: 16px !important;
    color: #f75e73 !important;
}
.section_top_padd {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.body_side_padd {
    padding-right: 30px !important;
    padding-left: 30px !important;
}