@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-family: 'Raleway', sans-serif !important;
    /* font-family: 'Montserrat', sans-serif; */
}

.font_weight_500 {
    font-weight: 500;
}

.font_weight_600 {
    font-weight: 600;
}

.font_weight_700 {
    font-weight: 700;
}

.font_weight_400 {
    font-weight: 400;
}

.navOverlay {
    display: none;
}

.primary_color {
    color: #f75e73 !important;
}

.primary_bg_color {
    background-color: #f75e73 !important;
    color: white !important;
}

header {
    padding: 22px 30px !important;
    max-width: 100% !important;
}

menu {
    margin: auto;
    max-width: 1400px !important;
}

.mainContainer:not(header, .short_dashboard) {
    margin: auto;
    max-width: 1400px !important;
    /* overflow: hidden; */
}

.flex_all_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none !important;
}

.navToggleBtn {
    display: none;
}

.navMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    transition: 0.3s;
}

a:hover {
    color: #212529 !important;
}


header .logo img {
    width: 50px;
    border-radius: 14px;
}

.desc_font_size {
    font-size: 18px !important;
    margin: 0px !important;
}

menu>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a {
    font-size: 20px !important;
    color: #212529;
    transition: 0.3s;
}

header .nav_link.active {
    padding: 6px 16px;
    border-bottom: 2px solid #f75e73 !important;
}

i {
    font-size: 26px !important;
}

header nav>* {
    margin-left: 26px;
}

.action_btn {
    background: #f75e73;
    padding: 10px 19px;
    border-radius: 28px;
    color: white;
    /* text-align: center; */
    font-size: 18px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.banner {
    position: relative;
}

.imgTxt_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white !important;
}

.banner_img_txt>.desc_font_size {
    padding: 12px 0px;
}

.banner_img_txt {
    width: 85%;
    text-align: center;
}

.banner h1 {
    font-weight: 600;
    font-size: 52px;
}

.banner .desc_font_size {
    font-size: 24px !important;
}

.banner .banner_desc_2 {
    font-size: 20px !important;
}

.searchBar input,
.searchBar button {
    border: none;
    outline: none;
    padding: 8px 6px;
    width: 100% !important;
}

.banner .brd {
    display: block;
    height: 100%;
    width: 2px;
    background-color: red;
}

.banner form>* {
    background: white;
    color: black;
    width: 100%;
    font-size: 18px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px !important;
    position: relative;
}

.banner .side_brd::after {
    content: "";
    display: block;
    position: absolute;
    height: 55%;
    width: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* background-color: rgba(0, 0, 0, 0.5); */
    left: 0px;
    margin: 0px -8px !important;
}

.banner form button {
    width: 70% !important;
    padding: 18px 6px !important;
    justify-content: center !important;
    /* border-radius: 0px 6px 6px 0px; */
}

.banner .location {
    padding-left: 24px !important;
    /* border-radius: 6px 0px 0px 6px; */
}

.brd_none {
    border: none !important;
}

.banner form i {
    color: rgba(0, 0, 0, 0.75);
    font-size: 19px !important;
    margin-right: 2px !important;
}

.banner button i {
    color: white !important;
    margin-right: 8px !important;
}

.social_media_icons i {
    color: #f75e73 !important;
    font-size: 30px !important;
    margin: 0px 6px !important;
}

.body_side_padd {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.section_top_padd {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.section_heading {
    display: inline-block;
}

.section_heading h2 {
    font-weight: 600 !important;
}

.section_heading .brd_bottom {
    display: block;
    margin-top: 6px;
    width: 120px;
    height: 2px;
    background: #f75e73 !important;
}

.handle_btn button {
    border: none;
    background: #f75e73;
    color: white;
    padding: 8px;
    display: inline-flex;
    border-radius: 1px;
}

.handle_btn i {
    font-size: 16px !important;
}

.property_boxes {
    padding: 32px 0px !important;
}

.properties .property_boxes {
    padding-left: 8px !important;
    padding-right: 8px !important;
    overflow: hidden;
    white-space: nowrap;
    transform: scale(1);
    opacity: 1;
    transition: 1.2s;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.properties .property_box_desc {
    background-color: rgba(64, 64, 64, 0.1) !important;
    box-shadow: 0px 0px !important;
}

.properties .property_card {
    box-shadow: 0px 0px !important;
}

.properties .property_boxes>div {
    margin: auto;
    width: calc(100% / 4);
    display: inline-block;
    padding: 0px 10px;
    scroll-snap-align: start;
}

.property_box_desc {
    padding: 32px 22px;
    border-radius: 0px 0px 6px 6px;
}

.property_boxes .property_card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 100%;
    border-radius: 6px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}


.property_box_img {
    position: relative;
}

.property_img_txt {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 0px 0px;
    transition: 0.3s;
    opacity: 0;
}

.property_boxes .property_card:hover .property_img_txt {
    opacity: 1;
}

.property_img_title {
    position: absolute;
    bottom: -0.5px;
    color: white;
    right: 0px;
    background: #f75e73;
    padding: 8px 16px;
    clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 20% 50%, 0% 0%);
    padding-left: 39px;
}

.property_box_img img {
    border-radius: 6px 6px 0px 0px;
}

.property_box_desc i {
    font-size: 16px !important;
    margin-right: 6px !important;
    color: #f75e73 !important;
}

.property_box_desc h4 {
    font-weight: 500;
    margin-bottom: 10px !important;
    font-size: 22px !important;
}

.property_box_desc p {
    margin: 0px !important;
    margin-bottom: 4px !important;
    font-size: 18px !important;
}

.property_box_desc .property_rate {
    margin-top: 22px !important;
}

.property_box_desc .property_rate span {
    font-weight: 600;
}

.property_box_desc .property_rate a:hover {
    color: white !important;
}

.property_boxes_slider_dots {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.property_boxes_slider_dots span.active {
    background-color: #f75e73 !important;
}

.property_boxes_slider_dots span {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin: 0px 2px;
    background-color: rgba(0, 0, 0, 0.75);
}


.property_rate a {
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
}

.working_method_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px !important;
}

.working_method {
    position: relative;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../images/bannerImg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px !important;
}

.working_method>* {
    position: relative;
    z-index: 99;
}

.working_method::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.working_method_cotegry {
    width: 25%;

}

.icon_wrapper {
    background-color: rgba(97, 109, 138, 0.5) !important;
    color: white !important;
    display: inline-flex;
    width: 55px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.icon_wrapper.active {
    background-color: #f75e73 !important;
}

.icon_wrapper i {
    font-size: 22px !important;
}

.short_dashboard {
    width: 98% !important;
    transform: translateY(-50%);
    max-width: 1300px !important;
}

.short_dashboard_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 22px;
    background: white;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.dahsborad_cotegry {
    width: 25% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_iconer {
    margin-right: 12px !important;
}

.project_iconer i {
    color: #f75e73 !important;
    font-size: 38px !important;
}

.project_summer_counter {
    font-size: 28px;
    font-weight: 600;
}

.project_summery p {
    margin-bottom: 0px !important;
    color: black !important;
}

.project_cotegry_name {
    font-size: 20px !important;
    margin-top: -6px !important;
}

.services {
    background-color: #212529;
}

.move_top_extra {
    margin-top: -150px !important;
}

.services .icon_wrapper {
    border-radius: 10px !important;
    clip-path: polygon(50% -2%, 100% 30%, 100% 100%, 0 100%, 0% 30%);
    /* padding-top: 14px !important; */
}

.services .icon_wrapper i {
    font-size: 20px !important;
    transform: translateY(15%);
}

.services_card.plot .icon_wrapper {
    background-color: #2AAA8A !important;
}

.services_card.flat .icon_wrapper {
    background-color: #79c254 !important;
}

.services_card.property .icon_wrapper {
    background-color: rgb(29, 46, 74) !important;
}

.services_card.rent .icon_wrapper {
    background-color: #e93e48 !important;
}

.services_card {
    color: black !important;
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    padding: 42px 0px;
    margin: auto;
    width: 23%;
    border-radius: 6px;
}

.services_card h4 {
    font-weight: 600;
}

.explore_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.explore_img {
    width: 42%;
    margin: 0px auto;
}

.explore_img_wrapper {
    position: relative;
}

.explore_img_wrapper::before {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(247, 94, 115, 0.5);
    top: -10px;
    height: 40%;
    width: 40%;
    right: -12px;
    z-index: -9;
}

.explore_img_wrapper::after {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(247, 94, 115, 0.5);
    bottom: -10px;
    height: 40%;
    width: 40%;
    left: -12px;
    z-index: -9;
}

.explore_text {
    width: 55% !important;
    padding: 22px 38px;
    margin: 0px auto;
}

.explore_text h3 {
    width: 65%;
    font-family: 'Montserrat', sans-serif !important;
}

.section_short_heading {
    font-family: 'Montserrat', sans-serif !important;
}

.gallery .property_box_desc {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

.gallery .property_box_desc h4 {
    margin-bottom: 0px !important;
}

.gallery .property_boxes {
    row-gap: 44px !important;
    margin-top: 0px !important;
}

.property_boxes a:not(.property_wrapper .property_boxes a) {
    color: black !important;
}

.our_agents .property_box_desc {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

.padding_bottom_0px {
    padding-bottom: 0px !important;
}

.padding_top_0px {
    padding-top: 0px !important;
}

.our_agents .property_box_desc i {
    font-size: 26px !important;
    margin: 0px !important;
}

.our_agents .property_card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.our_agents .property_box_desc p {
    margin-bottom: 0px !important;
}

.maps .property_card {
    box-shadow: 0px 0px !important;
    padding-top: 14px !important;
    height: auto !important;
}

.maps iframe {
    border-radius: 6px;
    width: 95%;
    margin: 0px auto;
}

.star_color {
    color: #ffc107;
}
.rating{
    background-color: #212529 !important;
}
.rating .section_heading h2{
    color: white !important;
}
.rating_cards {
    overflow: hidden;
    white-space: nowrap;
    transition: 1.2s;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.rating_cards .rating_card_wrapper {
    margin: auto;
    width: calc(100% / 3);
    display: inline-block;
    padding: 0px 10px;
    scroll-snap-align: start;
}
.rating_card {
    margin-top: 32px !important;
    background-color: white !important;
    width: 100%;
    margin: auto;
    padding: 32px 32px;
    border-radius: 10px;
}

.rating_user_img img {
    width: 100% !important;
    border-radius: 50%;
}

.rating_user_img {
    width: 80px;
    margin-right: 14px !important;
}

.rating_txt_user {
    padding: 0px 12px;
    text-wrap: balance;
}

.rating_card *:not(.rating_card i) {
    font-family: 'Montserrat', sans-serif !important;
}

.rating_card .rating_user_post {
    opacity: 0.8;
    font-weight: 600 !important;
}

.rating_user_data {
    margin-bottom: 18px !important;
}

.rating_stars i {
    color: #ffc107;
    font-size: 14px !important;
}

.rating_txt_user .fa-quote-left {
    margin-right: 10px;
    font-size: 16px !important;
    color: #f75e73 !important;
}

.rating_txt_user .fa-quote-right {
    margin-left: 10px;
    font-size: 16px !important;
    color: #f75e73 !important;
}

.border_radius_full {
    border-radius: 50%;
}

.subsciption {
    padding-top: 0px !important;
    position: relative;
    z-index: 99;
}

.subsciption .short_dashboard_wrapper {
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: space-between;
    padding: 34px 40px !important;
}

.subsciption .subscribe_desc {
    width: 60% !important;
}

.subsciption .subscribe_form {
    width: 40% !important;
}

.subsciption .subscribe_form_input input {
    display: block;
    width: 100%;
    outline: 2px solid #ced4da;
    padding: 10px 14px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border: none;
}

.subsciption .subscribe_form_input {
    width: 73% !important;
}

.subsciption .subscribe_form_btn input {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #f75e73 !important;
    color: white !important;
    font-size: 18px;
}

.subsciption form {
    justify-content: space-between !important;
}

footer {
    background-attachment: fixed;
    background-image: url(../images/bannerImg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px !important;
    position: relative;
    /* z-index: -9; */
    padding-top: 140px !important;
    padding-bottom: 0px !important;
}

footer::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.85) !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

footer .logo {
    width: 100% !important;
}

.popular_searches,
.quick_links_wrapper,
.top_cotegries {
    padding: 0px 12px !important;
}

.ft_wrapper {
    position: relative;
    z-index: 999;
    align-items: flex-start !important;
}

.ft_wrapper>div h4 {
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 16px;
}

footer .company_short_desc_txt {
    margin: 18px 0px !important;
}

footer .social_media_icons {
    justify-content: flex-start !important;
}

footer .social_media_icons .icon_wrapper {
    width: 40px !important;
    height: 40px !important;
    background-color: #f75e73 !important;
}

footer .social_media_icons .icon_wrapper i {
    color: white !important;
    margin: 0px !important;
    font-size: 20px !important;
}

footer .ft_links a {
    margin-bottom: 10px !important;
    display: block;
    font-size: 18px !important;
}

footer .company_short_desc {
    padding-right: 36px !important;
}

.popular_searches {
    width: 60% !important;
}

.top_cotegries,
.quick_links_wrapper {
    width: 50% !important;
}

.office_deatils>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.office_deatils .icon_wrapper {
    padding: 0px !important;
    width: auto;
    background-color: transparent !important;
    height: auto;
    margin-right: 12px !important;
    margin-right: 16px !important;
}

.office_deatils .icon_wrapper i {
    color: #f75e73 !important;
    font-size: 26px !important;
}

.office_deatils .our_email {
    margin: 20px 0px !important;
}

.office_deatils .office_deatils>div h6 {
    font-weight: 500 !important;
}

footer a,
footer a:hover {
    color: white !important;
}

.copy_right {
    position: relative;
    z-index: 9999;
    text-align: center;
    padding: 24px 0px;
    font-size: 18px !important;
    border-top: 1px solid rgba(149, 157, 165, 0.5);
    margin-top: 22px;
}